header {
    background: linear-gradient(to bottom, black 15%, transparent 100%);
    background-image: url(https://www.vsmpo.ru/upload/iblock/d3e/bcw9wrg834w99ez63yw1zqm4oxgaryvt.png);
    height: 604px;
    width: 100%;
}
.header-text {
    font-size: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: GothamPro-Light,sans-serif;

}
.header-textH1{
    font-family: GothamPro-Light,sans-serif;
    color: rgb(255, 255, 255); 
    position: relative;
    left: 49px;
    font-weight: normal;
    top: 60px;
    font-size: 60px;
}
.header-textH2 {
    font-family: GothamPro-Light,sans-serif;
    color: rgb(255, 255, 255); 
    position: relative;
    left: 49px;
    font-weight: normal;
    font-size: 37px;
    top: 80px;
}
body {
    margin: 0%;
    overflow-x: hidden;
    background: #ececec;
}
ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: right;
    position: absolute;
    left: 900px;
    top: 19px;
}

a{
    font-size: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font-family: GothamPro-Light,sans-serif;
}
a:hover {
    color: rgb(94, 8, 206);
    text-decoration: none;
    transition: 1s;
}
li {
    display: inline;
}
.light {
    color: #13559c;
    font-weight: bolder;
}
.logo {
    width: 187px;
    height: 67px;
}
.positionHeader {
    display: flex;
}
.logoDiv {
    position: relative;
    left: 81px;
    top: 12px;
}
/*main*/
h1 {
    font-family: GothamPro-Light,sans-serif;
    color: rgb(75, 75, 75); 
    position: relative;
    left: 49px;
    font-weight: normal;
    font-size: 50px;
}
h2 {
    font-family: GothamPro-Light,sans-serif;
    color: rgb(75, 75, 75); 
    position: relative;
    left: 49px;
    font-weight: normal;
    font-size: 40px;
}
p{
    font-family: GothamPro-Light,sans-serif;
    color: rgb(75, 75, 75); 
    font-size: 25px;
    margin: 48px;
}
/*footer*/
footer {
    background-color: #dcdbdb;
    height: 30%;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.footerObjects {
    position: relative;
    bottom: 54px;
    right: 730px;
}
.footerS {
    font-size: 26px; 
    color: dimgrey;
    font-weight: bold;
    position: relative;
    bottom: 70px;
    right: 730px;
}
.conteiner {
    width: 200px;
}
